* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.jumbotron {
    background-color: #00477f;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    /* padding-bottom: 0.25%; */
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    padding: 0;
}

.sticky + .content {
    padding-top: 60px;
}

#navigation-bar {
    overflow: hidden;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    background-color: #00477f;
}

.mx-auto {
    margin-left: 25% !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
    background-color: #fff;
    color: black;
}

.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 600;
    font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    background-color: #00477f;
    color: #fff;
}

.pagination {
    margin-top: 5%;
}

.page-item.active .page-link {
    background-color: #fff;
    color: #000;
    border-color: rgb(35, 35, 37);
    border-bottom-color: #fff;
}

.page-item .page-link {
    background-color: #fff;
    color: #000;
    border-color: rgb(35, 35, 37);
    border-bottom-color: #fff;
}

.image {
    width: 200px;
    height: 375.5px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.dld {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 3%;
}

.jumbo-top {
    margin-bottom: 2%;
}

.lead {
    margin-top: 6%;
    margin-right: 5%;
    font-weight: 400;
}

.caps {
    font-weight: 600;
    font-size: 5rem;
}

h1 {
    font-weight: 600 !important;
}

h4 {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 2rem;
}

p {
    padding-bottom: 3%;
    font-size: 1.2rem;
}

.row-img {
    padding-bottom: 5%;
}

.big-data-windows-image {
    max-height: 285px;
    max-width: 285px;
    border-radius: 2%;
}

.punchcard-image {
    border-radius: 2%;
}

.page-footer {
    background: #00477f;
    color: white;
    font-size: 0.9em;
}

.footer-link {
    color: azure;
    text-decoration: underline;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .jumbo-img {
        display: none;
    }

    .empty-container {
        display: none;
    }

    .display-4 {
        font-size: 2rem;
    }
}

@media (max-width: 767.98px) {
    .jumbo-img {
        display: none;
    }

    .empty-container {
        display: none;
    }
}
