/* rgb(35, 35, 37) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.jumbotron {
    background-color: #00477f;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    /* padding-bottom: 0.25%; */
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    padding: 0;
}

.sticky + .content {
    padding-top: 60px;
}

#navigation-bar {
    overflow: hidden;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    background-color: #00477f;
}

.mx-auto {
    margin-left: 25% !important;
}

.navbar-light .navbar-nav .active > .nav-link {
    background-color: #fff;
}

.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 600;
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    background-color: #00477f;
    color: #fff;
}

.pagination {
    margin-top: 5%;
}

.page-item.active .page-link {
    background-color: #fff;
    color: #000;
    border-color: rgb(35, 35, 37);
    border-bottom-color: #fff;
}

.page-item .page-link {
    background-color: #fff;
    color: #000;
    border-color: rgb(35, 35, 37);
    border-bottom-color: #fff;
}

p {
    padding-bottom: 3%;
    font-size: 1.2rem;
}

h4 {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 2rem;
}

button {
    font-weight: 400;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.search-feature:last-child {
    padding-bottom: 3%;
}

.tour-feature:last-child {
    padding-bottom: 3%;
}

/* .download {
    display: flex;
    justify-content: flex-end;
} */
/* 
#dld-button {
    /* justify-content: center;
    margin-right: 20.5%;
    margin-top: 3%;
}
*/

.image {
    width: 200px;
    height: 375.5px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.dld {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 3%;
}

.jumbo-top {
    margin-bottom: 2%;
}

.last {
    margin-bottom: 2%;
}

.lead {
    margin-top: 6%;
    margin-right: 5%;
    font-weight: 400;
}

.caps {
    font-weight: 600;
    font-size: 5rem;
}

h1 {
    font-weight: 600 !important;
}

@media (max-width: 575.98px) {
    .jumbo-img {
        display: none;
    }

    .empty-container {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .jumbo-img {
        display: none;
    }

    .empty-container {
        display: none;
    }
}
